{% include('includes/license_blurb_hashes.jinja') %}[project]
name = "{{ package_name }}"
version = "{{ package_version }}"
description = "{{ project_description }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
dependencies = [{% if use_comet %}
    "comet-ml>=3.33.8",{% endif %}{% if use_pytorch %}
    "lightning>=2.0.6",{% endif %}{% if use_tensorflow %}
    "tensorflow>=2.13,<2.14",
    "tensorflow-datasets>=4.9.2",
    "tensorflow-hub>=0.14.0",
    "keras-tuner>=1.3.5",{% endif %}{% if use_scikit_learn %}
    "scikit-learn>=1.3.0",{% endif %}
    "tqdm>=4.65.0",
    "requests>=2.31.0",
    "numpy>=1.24",
    "pandas>=2.0.3",
]
requires-python = ">={{ python_version | replace('-', '.') }},<3.{{ (python_version.split('-')[1] | int) + 1 }}"
readme = "README.md"

[tool.setuptools]
py-modules = ["{{ module_name }}"]

[tool.pdm.scripts]
pre_lock = { shell = "python3 scripts/pdm_lockfile.py check" }
pre_install = { shell = "python3 scripts/pdm_lockfile.py check" }
lockfile = { shell = "python3 scripts/pdm_lockfile.py" }

[tool.pdm.dev-dependencies]
dev = [
    "bandit>=1.7.5",
    "black>=23.7.0",
    "ipykernel>=6.25.0",
    "ipywidgets>=8.1.0",
    "isort>=5.12.0",
    "matplotlib>=3.7.2",
    "pyarrow>=12.0.1",
    "pillow>=10",
    "mypy>=1.4.1",
    "pycodestyle>=2.11.0",
    "pydocstyle>=6.3.0",
    "pylance>=0.6.0",
    "pytest>=7.4.0",
    "pytest-xdist>=3.3.1",
    "seaborn>=0.12.2",
    "vulture>=2.7",
    "pyyaml>=6.0.1",
    "termcolor>=2.3.0",
]
{%if use_pytorch %}
[project.optional-dependencies]
default = [
    "torch==2.0.1 ; sys_platform == 'win32'",
    "torchvision==0.15.2 ; sys_platform == 'win32'",
    "torchaudio==2.0.2 ; sys_platform == 'win32'",
    "torch==2.0.1 ; sys_platform == 'darwin'",
    "torchvision==0.15.2 ; sys_platform == 'darwin'",
    "torchaudio==2.0.2 ; sys_platform == 'darwin'",{% if python_version == "3-8" %}
    "torch @ https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp38-cp38-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-9" %}
    "torch @ https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp39-cp39-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-10" %}
    "torch @ https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-11" %}
    "torch @ https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp311-cp311-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-8" %}
    "torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.15.2%2Bcpu-cp38-cp38-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-9" %}
    "torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.15.2%2Bcpu-cp39-cp39-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-10" %}
    "torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.15.2%2Bcpu-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-11" %}
    "torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.15.2%2Bcpu-cp311-cp311-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-8" %}
    "torchaudio @ https://download.pytorch.org/whl/cpu/torchaudio-2.0.2%2Bcpu-cp38-cp38-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-9" %}
    "torchaudio @ https://download.pytorch.org/whl/cpu/torchaudio-2.0.2%2Bcpu-cp39-cp39-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-10" %}
    "torchaudio @ https://download.pytorch.org/whl/cpu/torchaudio-2.0.2%2Bcpu-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-11" %}
    "torchaudio @ https://download.pytorch.org/whl/cpu/torchaudio-2.0.2%2Bcpu-cp311-cp311-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}
]

cuda-11-7 = [{% if python_version == "3-8" %}
    "torch @ https://download.pytorch.org/whl/cu117/torch-2.0.1%2Bcu117-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-9" %}
    "torch @ https://download.pytorch.org/whl/cu117/torch-2.0.1%2Bcu117-cp39-cp39-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-10" %}
    "torch @ https://download.pytorch.org/whl/cu117/torch-2.0.1%2Bcu117-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-11" %}
    "torch @ https://download.pytorch.org/whl/cu117/torch-2.0.1%2Bcu117-cp311-cp311-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-8" %}
    "torchvision @ https://download.pytorch.org/whl/cu117/torchvision-0.15.2%2Bcu117-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-9" %}
    "torchvision @ https://download.pytorch.org/whl/cu117/torchvision-0.15.2%2Bcu117-cp39-cp39-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-10" %}
    "torchvision @ https://download.pytorch.org/whl/cu117/torchvision-0.15.2%2Bcu117-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-11" %}
    "torchvision @ https://download.pytorch.org/whl/cu117/torchvision-0.15.2%2Bcu117-cp311-cp311-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-8" %}
    "torchaudio @ https://download.pytorch.org/whl/cu117/torchaudio-2.0.2%2Bcu117-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-9" %}
    "torchaudio @ https://download.pytorch.org/whl/cu117/torchaudio-2.0.2%2Bcu117-cp39-cp39-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-10" %}
    "torchaudio @ https://download.pytorch.org/whl/cu117/torchaudio-2.0.2%2Bcu117-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-11" %}
    "torchaudio @ https://download.pytorch.org/whl/cu117/torchaudio-2.0.2%2Bcu117-cp311-cp311-win_amd64.whl ; sys_platform == 'win32'",{% endif %}
    "torch==2.0.1 ; sys_platform == 'linux'",
    "torchvision==0.15.2 ; sys_platform == 'linux'",
    "torchaudio==2.0.2 ; sys_platform == 'linux'",
]

cuda-11-8 = [{% if python_version == "3-8" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-9" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp39-cp39-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-10" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-11" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp311-cp311-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-8" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-9" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp39-cp39-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-10" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-11" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp311-cp311-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-8" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-9" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp39-cp39-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-10" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-11" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp311-cp311-win_amd64.whl ; sys_platform == 'win32'",{% endif %}{% if python_version == "3-8" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp38-cp38-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-9" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp39-cp39-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-10" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-11" %}
    "torch @ https://download.pytorch.org/whl/cu118/torch-2.0.1%2Bcu118-cp311-cp311-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-8" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp38-cp38-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-9" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp39-cp39-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-10" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-11" %}
    "torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.15.2%2Bcu118-cp311-cp311-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-8" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp38-cp38-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-9" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp39-cp39-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-10" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}{% if python_version == "3-11" %}
    "torchaudio @ https://download.pytorch.org/whl/cu118/torchaudio-2.0.2%2Bcu118-cp311-cp311-linux_x86_64.whl ; sys_platform == 'linux'",{% endif %}
]
{% endif %}
