{% include('includes/license_blurb_html.jinja') %}# {{ project_name }}

<img src="https://img.shields.io/badge/python-{{ python_version | replace('-', '.') }}-brightgreen" /> <img src="https://img.shields.io/badge/platform-linux%7Cmacos%7Cwindows-lightgrey" />
