{% include('includes/license_blurb_hashes.jinja') %}

from tqdm import tqdm
from typing import Union
import pathlib
import zipfile


def extract_archive(
    archive_path: Union[str, pathlib.Path], extract_dir: Union[str, pathlib.Path]
) -> None:
    print(f"Extracting {archive_path} to {extract_dir}...")

    # Extract archive_path zip to extract_dir with tqdm progress bar by byte count
    with zipfile.ZipFile(archive_path, "r") as zip_file:
        total_size = sum(file.file_size for file in zip_file.infolist())
        progress_bar = tqdm(total=total_size, unit="B", unit_scale=True)

        for file in zip_file.infolist():
            if not file.is_dir():
                extracted_path = pathlib.Path(extract_dir, file.filename)

                if (
                    not extracted_path.exists()
                    or extracted_path.stat().st_size != file.file_size
                ):
                    zip_file.extract(file, extract_dir)

                progress_bar.update(file.file_size)

        progress_bar.close()

    print("  Extraction complete.")
