{% include('includes/license_blurb_hashes.jinja') %}"""Comet integration."""


from typing import Optional

# pycodestyle: disable=E621
from comet_ml import Experiment  # type: ignore

from ..settings import Settings


def create_experiment(settings: Settings) -> Optional[Experiment]:
    """Create a Comet experiment.

    Arguments
    =========
    settings: Settings
        The settings object which is used to provide API configuration for Comet.
    """
    if settings.comet_enabled:
        return Experiment(
            api_key=settings.comet_api_key,
            project_name=settings.comet_project_name,
            workspace=settings.comet_workspace,
        )
    else:
        return None
