{% include('includes/license_blurb_hashes.jinja') %}"""Project settings loaded from environment variables."""


# pycodestyle: disable=E621
from pydantic_settings import BaseSettings, SettingsConfigDict  # type: ignore


class Settings(BaseSettings):
    """Project settings for {{ project_name }}."""

    model_config = SettingsConfigDict(
        env_file=".env", env_file_encoding="utf-8", env_prefix="{{ module_name }}_"
    )

    comet_enabled: bool
    comet_api_key: str
    comet_project_name: str
    comet_workspace: str


__all__ = ["Settings"]
