{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    {% include('includes/license_blurb_ipynb.jinja') %}
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Example tutorial\n",
    "\n",
    "**Original title:** *Example tutorial*\n",
    "\n",
    "**Tutorial URL:** http://www.example.com\n",
    "\n",
    "**Finished on:** 1970-01-01\n",
    "\n",
    "## Resources used\n",
    "\n",
    "Name | URL\n",
    "-----|----\n",
    "Example | http://www.example.com"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": []
  }
 ],
 "metadata": {
  "language_info": {
   "name": "python"
  },
  "orig_nbformat": 4
 },
 "nbformat": 4,
 "nbformat_minor": 2
}
